html, body {
    text-align: center;
    background-color: #fff;
    color: #222222;
    font-family: 'Times New Roman', Times, serif
}

h1 {
    font-family: sans-serif;
    font-size: 16vw;
    font-weight: 800;
    margin-top: 5vw;
    z-index: 2;
    position: relative;
    text-shadow: 2px 2px 15px #3d2f2faa, 3px 3px 0px #9c0000;
}

#container {
    max-width: 800px;
    margin: auto;
    font-size: 1.2em;
    position: relative;
}

#fall-2024 {
    max-width: 800px;
    border: 1px black solid;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

.essay-box {
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.author-name {
    display: inline-block;
    font-weight: bold;
}

.essay-name {
    display: inline-block;
}

.wound {
    font-size: 8px;
    color: #aaa;
}

.angel-image {
    opacity: .3;
}

.laetitia-blur {
    opacity:.3;
    position:absolute;
    width:100%;
    top:0px;
    left:0px;
}

#title-holder {
    height:32vw;
    max-height: 200px;
}

#ascii-background {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    position: absolute;
    top: 100px;
    color: #dadada;
}

#in-front {
    z-index: 2;
    position: relative;
}